#root {
  padding-top: 20px;
  background-color: #09a8ff;
  height: 100vh;
}

#small-btn {
  font-size: 10px;
  width: 90px;
}

#small-btn2 {
  font-size: 10px;
  width: 40px;
  margin-left: 10px;
  margin-top: -60px;
}

#small-btn3 {
  font-size: 10px;
  width: 40px;
  margin-left: 10px;
  margin-top: 25px;
}

.upArrow {
  transform: rotateZ(90deg) !important; 
  display: block;
}

.lights, .small-lights {
  display: flex;
}

.small-lights {
  justify-content: space-evenly;
  width: 35%;
}

.red, .yellow, .green {
  height: 20px;
  width: 20px;
  border: 3.5px solid #000000;
  background-color: #2cf4f4;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-container2 {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.btn-container3 {
  display:  -webkit-inline-box;
  justify-content: space-between;
  width: 10%;
  margin-top: 15px;
}

.pokedex-container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#pokedex-container-left {
  width: 400px;
  height: 815px;
  background: #e61515;
  padding: 15px;
  display: inline-block;
}

#pokedex-container-right {
  width: 300px;
  background: #e61515;
  padding: 15px;
  display: inline-block;
}

#name-screen {
  background-color: #2cf4f4;
  padding: 10px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
}

#name-screen > p,
h1 {
  margin: 0;
  font-size: 16px;
}

#main-screen {
  background-color: #2cf4f4;
  margin: 15px auto;
  padding: 0px !important;
}

.sprite {
  width: 200px;
  margin: auto;
  display: flex;
}

#light {
  width: 10px;
  height: 10px;
  background-color: #209cee;
  margin-bottom: 15px;
}

#description {
  background-color: #2cf4f4;
  padding: 20px;
  margin: 20px 0;
  height: 235px;
}

#description > p {
  font-size: 12px;
  line-height: 16px;
}

#input {
  width: 130px;
  font-size: 10px;
  text-align: center;
}

.submit {
  margin-top: 15px !important;
  width: 130px !important;
  font-size: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats > p {
  font-size: 12px;
  margin: 0;
}

#stats {
  background-color: #2cf4f4;
  padding: 15px;
  margin-top: 55px;
}

.center {
  text-align: center;
  font-size: 14px;
}

.types-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.types {
  width: 47% !important;
  height: 25px;
}

.types > p {
  font-size: 10px;
  margin-top: -9px;
  color: #ffffff;
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.evo-container {
  width: 32%;
}

.evo-img {
  background-color: #2cf4f4;
  padding: 0 !important;
  height: 100px;
  margin-top: 3px;
}

.evo-name {
  background-color: #2cf4f4;
  font-size: 8px;
  margin-top: 10px;
  height: 30px;
  display: flex;
  padding: 5px !important;
  justify-content: center;
}

.evo-sprite {
  width: 80px;
  margin: 8px auto;
  display: flex;
}

.pokeball {
  width: 30px;
  margin: auto;
  display: flex;
  padding-top: 30px;
}

.evo-numbers {
  display: flex !important;
  justify-content: space-between !important;
  background-color: #2cf4f4 !important;
  font-size: 12px;
  height: 35px !important;
  padding: 5px 35px !important;
  margin-top: 15px;
}

.moves-container {
  background-color: #2cf4f4;
  padding: 10px !important;
  width: 85%;
  display: inline-block;
  margin-top: 15px !important;
}

.moves-container > h2 {
  font-size: 12px;
}

.under-moves-container > div > div > p {
  font-size: 10px;
  margin: 5px;
}

.under-moves-container {
  display: flex;
}

.moves-stats {
  width: 50%;
  padding: 0px;
}

.moves-type-container {
  width: 50%;
}

.moves-type {
  height: 20px !important;
  width: 85%;
  padding: 0px !important;
  margin-left: 15px !important;
  margin-top: 8px !important;
  display: flex;
  justify-content: center;
}

.moves-type > p {
  font-size: 8px;
  color: #ffffff;
  margin: 0px !important;
}

.moves-stats > div {
  display: flex;
  justify-content: space-between;
}

.lvl {
  justify-content: center;
  display: flex;
  text-align: center;
  margin-left: 10px;
}

.info {
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
  margin-left: -100px;
}

.name {
  width: 145px !important;
}

#normal {
  background-color: #a8a878;
}

#fighting {
  background-color: #ff501f;
}

#flying {
  background-color: #a890f0;
}

#poison {
  background-color: #a040a0;
}

#ground {
  background-color: #e0c068;
}

#rock {
  background-color: #b8a038;
}

#bug {
  background-color: #a8b820;
}

#ghost {
  background-color: #705898;
}

#steel {
  background-color: #b8b8d0;
}

#fire {
  background-color: #e24242;
}

#water {
  background-color: #5bc7e5;
}

#grass {
  background-color: #78c850;
}

#electric {
  background-color: #f8d030;
}

#psychic {
  background-color: #f85888;
}

#ice {
  background-color: #98d8d8;
}

#dragon {
  background-color: #c6a114;
}

#dark {
  background-color: #705848;
}

#fairy {
  background-color: #ee99ac;
}

#unknown {
  background-color: #68a090;
}

#shadow {
  background-color: #6c3d64;
}
